@font-face {
    font-family:cereal ;
    src: url(Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e\ \(1\).woff2);
}

body{
    background-color: rgb(255, 255, 255);
}


.icons-container1{

    
        position: -webkit-sticky;
        position: sticky;
        top: 0;
     background-color: rgb(255, 255, 255);
     height: 80px;
    width: 1519.2px;
    z-index: 9;
    
}

.icons-container{
display: flex;
column-gap: 32px;
row-gap: 32px;

grid-auto-columns: max-content;

text-align: center;
height: 78px;

align-items: center;

margin-left: 80px;
margin-right: 80px;
justify-content: flex-start;
flex-wrap: nowrap;
justify-content: space-evenly;
margin-bottom: 16px;

font-size: 14px;
overflow-x: auto;
width: 1359.2px;
overflow-y: hidden;
}


.icons-container::-webkit-scrollbar{
 display: none;

}


.icons{
   
height: 48px;
display: flex;
flex-direction: column;
align-items: center;
row-gap: 8px;
column-gap: 8px;
min-width: 56px;
flex-wrap: nowrap;
box-sizing: border-box;
text-align: center;
padding: 4px 0px;
margin-top: 12px;
margin-bottom: 10px;
white-space: nowrap;

margin-left: 3px;
margin-right: 3px;

}

.icons1{
  
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 8px;
    width: 32px;
    flex-wrap: nowrap;
    box-sizing: border-box;
    text-align: center;
    padding: 4px 0px;
    margin-top: 12px;
    margin-bottom: 10px;
    white-space: nowrap;
    justify-content: start;
    color: black;
}









.im69{
    opacity: 0.78;
}




.img{
    
   margin: 0px;
   opacity: 0.8;
    height: 24px;
    width: 24px;
  
 
   object-fit: cover;
  
}

.img23{
    
    margin: 0px;
   
     height: 24px;
     width: 24px;
 
 object-fit: cover;
   
 }

.img69{
    
    margin: 0px;
   
     height: 24px;
     width: 24px;
 padding-top: 4px;
 padding-bottom: 4px;
 object-fit: cover;
   
 }

p{
    margin: 0px;
    
 
}

.para1{
    color: black;
    font-family: cereal sans-serif; /* Fallback fonts */
    font-size: 12px;
    font-weight: 600;
}

.para{
    font-family: cereal , sans-serif; /* Fallback fonts */
        font-size: 12px;
    font-weight: 600;
  
    color: #6A6A6A;
}

.text{
    
}

.card{
    
    border-radius: 14px;

   
}

.img1{
    width: 100%;
    border-radius: 14px;
  height: 305px;
    object-fit: cover;
   margin-bottom: 6px;
    
}




.card{
    position: relative;
}

body {
  
    margin: 0;  /* Remove default margin */
    padding: 0; /* Remove default padding */
}





.hotels1{
    width: 1519.2px;
    

}
.hotels{


margin-top: 16px;
margin-bottom: 48px;
width: 1359.2px;
display: flex;
flex-wrap: wrap;
height: auto;

padding-left: 80px;
padding-right: 80px;


column-gap: 25px;
}



.card{
 height: 405px;
 width: 321px;
 
}


.start{
    padding-left: 80px;
    padding-right: 80px;
    width:1359.2px;
    display: flex;
  
    height: 80px;
    justify-content: space-between;
 
}
.nav{
    background-attachment: scroll;
    width: 1519.2px;
    display: block;
    height: 80px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 1px rgba(0, 0, 0, 0.08);
   background-origin: padding-box;
border: 1px solid black;
border-top: 0px;
border-left: 0px;
border-right: 0px;
   border-color:  rgba(0, 0, 0, 0.08);
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: auto;
    box-sizing: border-box;
    contain: size layout style;
   margin: 0px;

 
}






.logo{
  
   
    height: 80px;
    align-items: center;
    display: flex;
    width: 275px;

    
   
}



.logo-text1{
    
    text-size-adjust: 100%;
    height: 44px;
    display: block;
    text-align: left;
    font-family: cereal,sans-serif; /* Fallback fonts */
    font-weight: 600;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
 
}

.span1{
    margin: 10px 16px;
    text-align: center;
    font-family: cereal,sans-serif; /* Fallback fonts */
    font-size: 14px;
}

.logo1{
   
    display: flex;
    gap:0px;
    
    text-wrap: nowrap;
    text-align: left;
    
    align-items: center;
justify-content: center;
}
.logo-text
{
    
    display: inline-flex;
    
   text-align: left;
    
    text-size-adjust: 100%;
   
   

}
.logo2{
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: start;
    
}

.logotext2{
    display: flex;
    margin: 0px 0px;
    
    width: 176px;
    text-align: left;
}

.stay{
    font-weight: 600;
}


.button1{
 height: 44px;
 border: none;
 border-radius: 18px;
 font-size: 16px;
 margin: 0px 0px;
 font-family: cereal,sans-serif; /* Fallback fonts */
 background-color:white;

 
}

.button{
    height: 44px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    background-color:white;
    text-align: center;
    font-family: cereal,sans-serif; /* Fallback fonts */
   }
   

   .airbnb {
   color: red; /* Change this color to whatever you want */
}


.separator-line {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4; /* Adjust the color as needed */
}



.person{
    display: flex;
    align-items: center;

    
}
.home{
    display: flex;
  
    height: 18px;
  width: 128.35px;
  text-wrap: nowrap;
  font-family: cereal,sans-serif; /* Fallback fonts */
  
  font-weight: 600;
  font-size: 14px;
}

.web{
    padding: 12px 12px;
}

.profile{
    border: none;
    display: flex;
    align-items: center;
    border-radius: 14%;
    border: 0.8px solid gray;
    padding: 8px;
    width: 85px;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-color: rgb(221, 221, 221);
    border-top-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
}

.button4{
    background-color: white;
    border: none;
    border-radius: 30%;
}












.p1 {
    font-family: cereal,sans-serif; /* Fallback fonts */
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}

.p3{
    font-family: cereal; /* Fallback fonts */
    color: black;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
}

.p2{
    font-family: cereal,sans-serif; /* Fallback fonts */
    font-size: 15px;
    color: rgb(106,106,106);
    line-height: 19px;
}

.night{
    font-weight: 400;
    color: rgb(106,106,106);
}

.fav{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    font-family: cereal; /* Fallback fonts */
    font-weight: 600;
    height: 18px;
    font-size: 14px;
    width: auto;
    background-color: white;

}

.star{
    height: 12px;
   
    object-fit: cover;
    
   
}


.rating{
    display: flex;
    gap: 3px;
    align-items: center;
    height: 14px;
    padding: 4px;
    
  

}

.flex{
    display: flex;
    justify-content: space-between;
   
}

.num{
    font-size: 15px;
    font-family: cereal,sans-serif; /* Fallback fonts */
    color: rgb(106,106,106);
}
body{
    font-family: cereal; /* Fallback fonts */
}

.ul-list{
    list-style-type: none;
display: grid;
box-sizing: border-box;
grid-template-columns:  219.863px 219.863px 219.875px 219.863px 219.863px 219.875px;
text-align: left;
column-gap: 8px;
row-gap: 24px;
line-height: 20px;
margin-inline-start: 0px;
margin-inline-end: 0px;
margin: 0px;
margin-block-start: 0px;
margin-block-end: 0px;
list-style-position: outside;
padding: 0px;
padding-top: 4px;


}

.a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.a3{
   
    text-decoration: none;
   
    font-size: 14px;
    font-weight: 400;
    color: rgb(34,34,34);
    margin: 0px;
    
}
.a5{
    text-decoration: none;
   
    font-size: 14px;
    font-weight: 600;
    color: rgb(34,34,34);
    margin: 0px;
    
}

.popular{
  
    height: 188px;
    padding-top: 32px;
}


.inspiration{
   
    
    background-color:rgb(247, 247, 247) ;
    padding-top: 40px;
    padding-bottom: 40px;

    
 border: 1px solid rgb(106,106,106);
 
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-color:  rgba(0, 0, 0, 0.08);
   box-shadow: 50000px 0px  rgba(0, 0, 0, 0.08) ;
}

.b2{
    border: none;
   font-size: 14px;
    padding: 10px 10px;
    margin-right:6px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -10px;
color: rgb(106,106,106);
font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    font-family: cereal,sans-serif; /* Fallback fonts */
   
    
}
.b1{
    border: none;
   font-size: 14px;
    padding: 10px 10px;
    margin-right:6px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -2px;
color: rgb(106,106,106);
font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    font-family: cereal; /* Fallback fonts */
   
    
}


.b2{
    border: none;
   font-size: 14px;
   
    
color: rgb(106,106,106);
font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    font-family: cereal; /* Fallback fonts */
   

}

.inspiration1{
    margin-left: 80px;
    margin-right: 80px;
  

}



.inspiration-text{
    border: 1px solid gray;
    height: 50px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-color:  rgba(0, 0, 0, 0.08);
   box-shadow: 50000px 0px  rgba(0, 0, 0, 0.08) ;
  
}

h2{
    font-size: 22px;
}


.li1{
color: black;
font-size: 14px;
font-weight: 600;

}
.li2{
    color: rgb(106,106,106);
    font-size: 14px;
}

.a{
    text-decoration: none;
}

.a1{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    
  gap: 4px;
  align-content: center;
   
}

.down{
    color: black;
    object-fit: cover;
    padding-top: 4.5px;
    width: auto;
    height: auto;
}

h2{
    margin-top: 0px;
}

.footer-list1{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
   
   gap: 12px;
 
}
.footer-list2{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  gap: 12px;
    
  
    
}
.footer-list3{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  display: flex;
  flex-direction: column;
    gap: 12px;
 
}

.footer{
    
}

.footer-box{
    margin-left: 80px;
    margin-right: 80px;
    width: 1359.2px;
    display: grid;
    box-sizing: border-box;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-between;
   padding-top: 48px;
   padding-bottom: 48px;

   border: 1px solid rgb(106,106,106);
   border-right: 0px;
   border-left: 0px;
   border-top: 0px;
   border-color:  rgba(0, 0, 0, 0.08);
   box-shadow: 50000px 0px  rgba(0, 0, 0, 0.08) ;
  
}

.footer{
    background-color: rgb(247, 247, 247);
    width: 100%;
    
}

.end{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.end-box1{
    display: flex;
    gap: 6px;
    height: 18px;
padding: 4px;
margin: -4px;

}
.endlist{
    padding: 0px;
    margin: 0px;
}
.endlist1{
    list-style-type: decimal;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 14px;
    gap: 6px;
}

.end-box2{
    display: flex;
    gap: 6px;
    height: 18px;
justify-content: center;
align-items: center;

}
.b-end{
    border: none;
   background-color: rgba(0, 0, 0, 0);
   font-size: 14px;
   font-weight: 600;
   font-family: cereal;
   margin: 0px;
}

.svg{
    margin-right: 6px;
}
